<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Blade">
            <directory>tests/php/Blade</directory>
        </testsuite>
        <testsuite name="Twig">
            <directory>tests/php/Twig</directory>
        </testsuite>
        <testsuite name="Antlers">
            <directory>tests/php/Antlers</directory>
        </testsuite>
    </testsuites>
</phpunit>
