---
import "../styles/fonts";
import "../styles/global.css";
import logo from "../resources/img/cdu-logo-transparent.png";
import Image from "astro/components/Image.astro";
import Navigation from "../components/Navigation.astro";
import DarkModeToggle from "../components/DarkModeToggle.astro";
const { title = "CDU Brand", ...props } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <figure>
        <Image src={logo} alt="CDU Logo" />
        <figcaption>Brand Demo</figcaption>
      </figure>
    </header>
    <div class="site-wrapper">
      <Navigation />
      <main class="container">
        <h1>{title}</h1>
        <slot />
      </main>
    </div>
    <DarkModeToggle />
  </body>
</html>

<style>
  @import url("../styles/global.css");

  header {
    @apply sticky top-0 z-50 h-20 w-full bg-white shadow-md;

    figure {
      @apply mx-auto flex h-full flex-row items-center space-x-4 p-4;

      img {
        @apply w-48;
      }

      figcaption {
        @apply text-rhoendorf font-sans text-xl font-extrabold sm:text-3xl;
      }
    }
  }

  .site-wrapper {
    @apply relative flex;
  }

  main {
    @apply my-12 ml-56 flex flex-col gap-12 p-4;
  }
</style>
