@layer base {
  :root {
    --btn-background-color: var(--color-cadenabbia);
    --btn-background-color-hover: var(--color-cadenabbia-60);
    --btn-border-color: var(--color-cadenabbia);
    --btn-border-color-hover: var(--color-cadenabbia-60);
    --btn-text-color: var(--color-rhoendorf);
    --btn-text-color-hover: var(--color-rhoendorf);

    --btn-background-color-disabled: var(--color-rhoendorf-10);
    --btn-border-color-disabled: var(--color-rhoendorf-10);
    --btn-text-color-disabled: var(--color-rhoendorf-60);
  }

  .btn-gold {
    --btn-background-color: var(--color-gold);
    --btn-background-color-hover: var(--color-gold-110);
    --btn-border-color: var(--color-gold);
    --btn-border-color-hover: var(--color-gold-110);
    --btn-text-color: var(--color-rhoendorf);
    --btn-text-color-hover: var(--color-rhoendorf);
  }

  .btn-gold-inverted {
    --btn-background-color: var(--color-white);
    --btn-background-color-hover: var(--color-gold-110);
    --btn-border-color: var(--color-white);
    --btn-border-color-hover: var(--color-gold-110);
    --btn-text-color: var(--color-gold-110);
    --btn-text-color-hover: var(--color-white);
  }

  .btn-gold-transparent {
    --btn-background-color: var(--color-transparent);
    --btn-background-color-hover: var(--color-gold);
    --btn-border-color: var(--color-gold);
    --btn-border-color-hover: var(--color-gold);
    --btn-text-color: var(--color-gold-110);
    --btn-text-color-hover: var(--color-white);
  }

  .btn-blue {
    --btn-background-color: var(--color-rhoendorf);
    --btn-background-color-hover: var(--color-rhoendorf-60);
    --btn-border-color: var(--color-rhoendorf);
    --btn-border-color-hover: var(--color-rhoendorf-60);
    --btn-text-color: var(--color-white);
    --btn-text-color-hover: var(--color-white);
  }

  .btn-blue-inverted {
    --btn-background-color: var(--color-white);
    --btn-background-color-hover: var(--color-rhoendorf-60);
    --btn-border-color: var(--color-white);
    --btn-border-color-hover: var(--color-rhoendorf-60);
    --btn-text-color: var(--color-rhoendorf);
    --btn-text-color-hover: var(--color-white);
  }

  .btn-blue-transparent {
    --btn-background-color: var(--color-transparent);
    --btn-background-color-hover: var(--color-rhoendorf);
    --btn-border-color: var(--color-rhoendorf);
    --btn-border-color-hover: var(--color-rhoendorf);
    --btn-text-color: var(--color-rhoendorf);
    --btn-text-color-hover: var(--color-white);
  }

  .btn-link {
    --btn-background-color: var(--color-transparent);
    --btn-background-color-hover: var(--color-transparent);
    --btn-border-color: var(--color-transparent);
    --btn-border-color-hover: var(--color-transparent);
    --btn-text-color: var(--color-rhoendorf);
    --btn-text-color-hover: var(--color-rhoendorf);
  }

  .btn-facebook {
    --btn-background-color: var(--color-facebook);
    --btn-background-color-hover: var(--color-white);
    --btn-border-color: var(--color-facebook);
    --btn-border-color-hover: var(--color-facebook);
    --btn-text-color: var(--color-white);
    --btn-text-color-hover: var(--color-facebook);
  }

  .btn-whatsapp {
    --btn-background-color: var(--color-whatsapp);
    --btn-background-color-hover: var(--color-white);
    --btn-border-color: var(--color-whatsapp);
    --btn-border-color-hover: var(--color-whatsapp);
    --btn-text-color: var(--color-white);
    --btn-text-color-hover: var(--color-whatsapp);
  }
}

@layer components {
  .btn {
    @apply flex flex-row items-center justify-between gap-x-1 rounded border-2 px-5 py-2 font-sans! font-extrabold! uppercase no-underline! transition-colors duration-200 ease-in-out focus:outline-none motion-safe:transition;

    border-color: var(--btn-border-color);
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);

    &:hover,
    &:focus {
      border-color: var(--btn-border-color-hover);
      background-color: var(--btn-background-color-hover);
      color: var(--btn-text-color-hover);
    }

    &:disabled {
      border-color: var(--btn-border-color-disabled);
      background-color: var(--btn-background-color-disabled);
      color: var(--btn-text-color-disabled);
    }

    &.btn-link {
      @apply decoration-gold px-2 normal-case decoration-2 underline-offset-4 hover:underline! dark:text-white;
    }

    svg {
      @apply flex-shrink-0;
    }
  }

  .close-btn {
    @apply bg-rhoendorf hover:bg-cadenabbia flex-shrink-0 transform rounded-full p-2 text-white duration-300 ease-in-out focus:outline-none;

    > svg {
      @apply size-6;
    }

    > span {
      @apply sr-only;
    }
  }
}
