---
import Layout from "../layouts/Layout.astro";
import CountdownComponent from "../components/Countdown.astro";
---

<Layout title="Countdown">
  <section id="countdown">
    <CountdownComponent targetDate="2028-01-01 12:00:00" event="to go until our great event" />
  </section>
</Layout>
