---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gradient Background">
  <section>
    <figure class="bg-gradient aspect-video w-full">x</figure>
  </section>
</Layout>

<style>
  @import "../styles/global.css";
  @import "../../../resources/css/utilities/gradient.css";
</style>
