---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gradient Background">
  <section>
    <figure class="bg-gradient aspect-video w-full">
      <figcaption class="flex h-full items-center justify-center font-sans text-4xl font-extrabold text-white">Example</figcaption>
    </figure>
  </section>
</Layout>

<style>
  @import "../styles/global.css";
  @import "../../../resources/css/utilities/gradient.css";
</style>
