---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <p>This is a basic example of a webpage styled with Tailwind CSS and CDU branding.</p>
    <h2>Installation</h2>
    <pre><code class="language-bash">pnpm add @cdu-neuss/cdu-brand</code></pre>
    <h3>Peer Dependencies</h3>
    <pre><code class="language-bash">pnpm add tailwindcss@^4.0.0 @tailwindcss/typography@^0.5.0 alpinejs@^3.0.0 @fontsource/ibm-plex-serif@^5.1.0 @fontsource/inter@^5.1.0</code></pre>
    <h3>Composer (PHP projects)</h3>
    <pre><code class="language-bash">composer require cdu-neuss/cdu-brand</code></pre>
    <hr />
    <p>For detailed information, visit the <a href="https://github.com/cdu-neuss/cdu-brand">GitHub repository</a>.</p>
  </section>
</Layout>

<style>
  @import "../styles/global.css";
  @import "../../../resources/css/typography.css";

  section {
    @apply prose prose-lg dark:prose-invert;
  }
</style>
