---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <p>This is a basic example of a webpage styled with Tailwind CSS and CDU branding.</p>
    <h2>Installation</h2>
    <pre><code class="language-bash">pnpm add @cdu-neuss/cdu-brand</code></pre>
  </section>
</Layout>

<style>
  @import "../styles/global.css";
  @import "../../../resources/css/typography.css";

  section {
    @apply prose prose-lg dark:prose-invert;
  }
</style>
