---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Union Title">
  <section id="union-title">
    <h4 class="union-title font-sans text-xl font-extrabold">
      <span>News</span>
    </h4>
    <h4 class="union-title bg-rhoendorf font-sans text-3xl font-extrabold dark:bg-white">
      <span>
        Weit hinten, hinter den <strong>Wortbergen</strong>,<br />fern der Länder Vokalien und Konsonantien
      </span>
    </h4>
    <h4 class="union-title bg-gold font-serif text-2xl font-bold">
      <span>Leben die Blindtexte</span>
    </h4>
  </section>
</Layout>

<style>
  @import "../styles/global.css";
  @import "../../../resources/css/components/union-title.css";
</style>
