---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...attrs } = Astro.props;
---

<div class:list={["eye-catcher-circle", className]} {...attrs}>
  <slot />
</div>
