---
import type { HTMLAttributes } from "astro/types";
import IconCircle from "./IconCircle.astro";

interface Props extends HTMLAttributes<"div"> {
  title: string;
}

const { title, class: className, ...attrs } = Astro.props;
---

<div class:list={["feature", className]} {...attrs}>
  <div class="icon">
    <IconCircle>
      <slot name="icon" />
    </IconCircle>
  </div>
  <div class="content">
    <h5 class="title">{title}</h5>
    <slot />
  </div>
</div>
