---
import type { HTMLAttributes } from "astro/types";
import IconCircle from "./IconCircle.astro";
import Button from "./Button.astro";

interface Props extends HTMLAttributes<"div"> {
  title: string;
  href: string;
  linkText?: string;
  hasButton?: boolean;
  linkAttr?: Record<string, string>;
}

const { title, href, linkText, hasButton = false, linkAttr = {}, class: className, ...attrs } = Astro.props;
---

<div class:list={["linked-section", { "has-button": hasButton }, className]} {...attrs}>
  <div class="headline">
    <div class="icon">
      <IconCircle>
        <slot name="icon" />
      </IconCircle>
    </div>
    <h3 class="title">{title}</h3>
  </div>
  <div class="content">
    <slot />
  </div>
  <div class="link">
    <Button href={href} as="a" color={hasButton ? "gold" : "link"} {...linkAttr}>
      {
        !hasButton && (
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" width="1em" height="1em" slot="icon-right">
            <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z" />
          </svg>
        )
      }
      {linkText ?? title}
    </Button>
  </div>
</div>
