---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"h2"> {
  level?: "h1" | "h2" | "h3" | "h4" | "h5" | "h6" | "div";
}

const { level: Level = "h2", class: className, ...attrs } = Astro.props;
---

<Level class:list={["union-title", className]} {...attrs}>
  <span>
    <slot />
  </span>
</Level>
