{{#
    CDU Linked Section Component Parameters: - title: section heading (required) - href: link URL (required) - link_text: custom link label
    (default: title value) - has_button: if true, renders gold button instead of link style (default: false) - class: additional CSS classes to
    merge onto the root element (default: '') Slots: - default: section body text - icon: optional icon inside the icon-circle Usage:
    {{ partial:cdu/linked-section title="Read more" href="/page" }}
        {{ slot:icon }}
            <svg>…</svg>
        {{ /slot:icon }}
        <p>Teaser text here.</p>
    {{ /partial:cdu/linked-section }}
#}}

<div class="linked-section{{ if has_button }} has-button{{ /if }} {{ class }}" {{ attr }}>
    <div class="headline">
        <div class="icon">
            {{ partial:cdu/icon-circle }}
                {{ slot:icon }}
            {{ /partial:cdu/icon-circle }}
        </div>
        <h3 class="title">{{ title }}</h3>
    </div>
    <div class="content">
        {{ slot }}
    </div>
    <div class="link">
        <a href="{{ href }}" class="btn{{ if has_button }} btn-gold{{ else }} btn-link{{ /if }}">
            {{ unless has_button }}
                {{# Phosphor caret-right-bold #}}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" width="1em" height="1em">
                    <path
                        d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"
                    />
                </svg>
            {{ /unless }}
            {{ link_text ?? title }}
        </a>
    </div>
</div>
